<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nasze hotele</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <img  href="index.html"class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
        <nav class="nav">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('rezerwacja') }}">Rezerwacja</a>
            <a href="{{ url_for('restauracja') }}">Restauracja</a>
            <a href="{{ url_for('kontakt') }}">Kontakt</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>