{% extends 'base.html' %}

{% block content %}

<form method="post" action="/restauracja">
    
    <label for="restaurant">Restauracja:</label>
    <input list="restaurants" id="restaurant" name="restaurant">
            <datalist id="restaurants">
              {% for restaurant in restaurants %} 
                  <option value="{{ restaurant.name }}">
              {% endfor %}
              </datalist>

    <label for="telefon">Numer telefonu:</label>
    <input type="text" id="telefon" name="telefon">
    
    <label for="Imie">Imie:</label>
    <input type="text" id="Imie" name="Imie">

    <label for="data_rezerwacji">Data rezerwacji:</label>
    <input type="date" id="data_rezerwacji" name="data_rezerwacji">
    
    <label for="godz_rezerwacji">Godzina rezerwacji:</label>
    <input type="time" id="godz_rezerwacji" name="godz_rezerwacji">
    
    <label for="guests">Ilość osób:</label>
    <input type="number" id="guests" name="guests">
    <button type="submit">Szukaj</button>
</form>

{% endblock %}